html, body { /** Added html **/
  background-color: #ffffff; /** Deleted extra # **/
  font-size: 12px;
  line-height: 50px
  padding: 20px; 10px; 10px; 10px;
 }

 div.feature {
   background-color: ffffff;
   font-size: 12px; /** Added missing font-size **/
   display: inline-block; /** NEW Added in-line block **/
   padding-left: 20px;
}
 .column { /** New Added column specifications **/
   float: left;
   width: 33.33%;
   font-weight: bold; /**New Added font-weight **/
}
 .header h1 { /** Added .header 2 **/
  font-family: Montserratt, sans-serif; /**NEW added font-style **/
  font-size: 12px; /** Reduced font size **/
  color: #000000;
  word-spacing: 1px;
}
 .paragraph p { /**New body grouping **/
  font-size: 12px;
  color: #000000;
  content: ""; /** New moved content under body grouping **/
  clear: both; /** New moved clear under body grouping **/
 }
   
 a:hover { /** Added missing open bracket **/
  color: #D8D8D7;
}
