 * { /**New removed comma**/
  box-sizing: border-box;
  width: 375px;
}

hr { /** Added styling for horizontal lines **/
  display: block;
  margin-before: 0.25em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.statusbar { /**Added status bar specifications **/
  width: 375px;
  line-height: 50px;
  margin-top: auto;
  float: left;
  position: absolute;
  padding-bottom: 5px;
}

.nav { /**Added .nav specifications **/
  margin: auto;
  padding: 20px 10px 10px 10px; /**Deleted extraneous semiolons and commas **/
  width: 400px; /**New increased width **/
  background-color: #ffffff;
  float: left; /**New Changed from float: left to right **/
}
.bus-heading { /**Added .bus heading specifications **/
  position: fixed;
  width: 100px;
  font-weight: bold;
  font-size: 1.5em;
  padding: 20px 10px 10px 10px;
  color: #ffffff;
}
.status-and-nav { /**Added status and navigation specifications **/
  position: fixed;
  width: 375px;
  display: table;
  margin: 0;
} /**Added missing close bracket **/

.image {
  width: 100px;
  padding-top: 80px;
  margin: 0;
}

.arrow { /**Added arrow specifications **/
  text-align: right;
  font-size: 3px; /** Reduced size of arrow or chevron **/
  margin-right: 20px;
  margin-bottom: 10px;
  float:right; /**New added float right **/
}

.container h1 { /**Added new container **/
  font-size: 2em;
  font-weight: bold;
  background-color: #ff6666; /**Changed background color from dark red that did not pass accessibility to ligher shade **/
  display: inline-block;
  border-top: 1px; /**Reduced pixel size from 2px to 1px **/
  border-bottom: 1px; /**Reduced pixel size from 2px to 1px **/
  width: 400px; /** New Increased width **/
 }

.directions { /**Added new directions specifications **/
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  border-top: 1px;
  border-bottom: 1px;
  width: 150px;
}

body {
  box-sizing: border-box; /**Added border box **/
  font-family: Montserrat, sans-serif; /**Added font style **/
  margin: auto; /**Added margin specifications **/
  line-height: 50px;
  padding: 0; /**Adjusted padding **/
  background-image: url(https://www.mapquest.com/directions/from/us/illinois/chicago/60617-3007/8900-s-merrill-ave-41.733306,-87.572282/to/us/illinois/chicago/60616/3200-s-state-st-41.836296,-87.626720); /**New deleted extra space between URL and beginning parentheses **/
  float: left; /**New Changed to correctly spell float **/
  width: 10% 80% 10%;
 }

dd { /**New container added to change location of bus-time location on screen**/
  float: left;
  padding: 5% 5% 5% 5%;
  width: 33%;
  clear: right;
}

content {
   border-top: 1px;
   border-bottom: 1px;
   width: 100px;
   display: table;
  } /**deleted extra closing bracket **/

.li h2 {
  font-weight: 300;
}

.container h2 { /**Added .container h2 **/
  font-size: 1.5em; /**Reduced font size **/
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.container h3 { /**Added .container h3 **/
  font-size: 1.25em; /**Reduced font size **/
  text-align: left;
  padding-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.container h4 { /**Added .container h4 **/
  font-size: .9em;
  font-style: italic;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 5px;
}

.container h5 { /**Added .container h5 **/
  font-size: 1em;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 2px;
}

a:hover { /** Added missing open bracket **/
  color: #D8D8D7;
}

