 * { /**New box sizing**/
  box-sizing: border-box;
  width: 375px;
}

hr { /** New added styling for horizontal lines **/
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.statusbar { /**New added status bar specifications **/
  width: 375px;
  line-height: 50px;
  margin-top: auto;
  float: left;
  position: absolute;
  padding-bottom: 5px;
}

.nav { /**New added .nav specifications **/
  margin: auto;
  padding: 20px 10px 10px 10px; /**New deleted extraneous semiolons and commas **/
  width: 375px;
  background-color: #ffffff;
  float: right;
}
.bus-heading { /**New added .bus-heading specifications **/
  position: fixed;
  width: 100px;
  font-weight: bold;
  font-size: 1.5em;
  padding: 20px 10px 10px 10px;
  color: #ffffff;
}
.status-and-nav { /**New added status and navigation specifications **/
  position: fixed;
  width: 375px;
  display: table;
  margin: 0;
} /**New added missing close bracket **/

.image {
  width: 100px;
  padding-top: 80px;
  margin: 0;
}

.arrow { /**New added arrow specifications **/
  text-align: right;
  font-size: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.container h1 { /**New added new container **/
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(167, 20, 0);
  display: inline-block;
  border-top: 2px;
  border-bottom: 2px;
  width: 375px; /** New increased width **/
 }

.directions { /**Added new directions specifications **/
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  border-top: 1px;
  border-bottom: 1px;
  width: 100px;
}

body {
  box-sizing: border-box; /**New added border box **/
  font-family: Montserrat, sans-serif; /**New added font style **/
  margin: auto; /**New added margin specifications **/
  line-height: 50px;
  padding: 0; /**New adjusted padding **/
  width: 360px;
 }

content {
   border-top: 1px;
   border-bottom: 1px;
   width: 100px;
   display: table;
  }
}

.li h2 {
  font-weight: 300;
}

.container h2 { /**New added .container h2 **/
  font-size: 2em;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.container h3 { /**New added .container h3 **/
  font-size: 1.5em;
  text-align: left;
  padding-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px:
}

.container h4 { /**New added .container h4 **/
  font-size: .9em;
  font-style: italic;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 5px;
}

.container h5 { /**New added .container h5 **/
  font-size: 1.25em;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 2px;
}

a:hover { /** Added missing open bracket **/
  color: #D8D8D7;
}
