html, body { /** Added html **/
  background-color: #ffffff; /** NEW Deleted extra # and changed background color from red to white **/
  font-size: 12px;
  width: 360px; /** Changed width from 300 to 360 **/
  margin: 50px; /** Added margin, padding, and border specifications **/
  padding: 50px;
  border: 0px;
 }

 .column { /** Added column specifications **/
   float: left;
   width: 33.33%;
 }

 .left, .right, .middle { /** NEW Combined .left, .right, and .middle into one grouping */
   float; left;
 }

 .row:after { /** Added Row specifications **/
  content: "";
  clear: both;
}

.header h1, .header h2 { /** Added .header 2 **/
  font-size: 12px; /** Reduced font size **/
  line-height: 1em;
  color: #000000;
  font-family: Montserratt; /** Added missing semi-colon (;) **/
}

div.feature {
  background-color: ffffff;
  height: 50vh;
  font-size: 12px; /** Added missing font-size **/
 }

a:hover { /** NEW Added missing open bracket **/
  color: #D8D8D7;
}
