html, body { /** NEW Added html **/
  background-color: #D11900#;
  font-size: 12px;
  width: 360px; /** NEW changed width from 300 to 360 **/
  margin: 0px; /** NEW Added margin, padding, and border specifications **/
  padding: 0px;
  border: 0px;
 }

 .column { /** New Added column specifications **/
   float: left;
 }

 .left, .right {
   width: 50%;
 }

 .middle {
   width: 33.33%;
 }

 .row:after { /**NEW Added Row specifications **/
  content: "";
  display: table;
  clear: both;
}

.header h1, .header h2, { /** New added .header 2 **/
  font-size: 12px; /** New Reduced font size **/
  line-height: 1em;
  color: #000000;
  font-family: Montserratt; /** NEW Added missing semi-colon (;) **/
}

div.feature {
  background-color: ffffff;
  height: 25vh;
  font-size: 12px; /** NEW Added missing font-size **/
 }

a:hover
  color: #D8D8D7;
}
